@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .section_container {
    @apply container mx-auto max-w-screen-2xl px-6 sm:px-10 md:px-16  xl:px-28;
  }
  .text-gradient {
    @apply !inline-block !bg-gradient-to-r  from-[#FF9898] to-[#8054FF] !bg-clip-text text-transparent;
  }
  body {
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    background-color: #fff;
  }
  .dark body {
    background-color: theme(colors.Black);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-Gray bg-clip-padding;
  }
}
